<div class="container">
    <div class="row">

    <section> 
        <h2> Rush Hour </h2>
        <p style=color:black;> Stop motion animation about getting home for the weekend </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AYCyUQycB3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></section><br>
    
    <section>
        <h2> Ballroom Writes Its Own Story</h2>
        <p style=color:black; > Documentary short that examines Chicago's Ballroom Scene</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DlXxeWDJbxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section><br>
    
    <section>
        <h2> This is the End</h2>
        <p style=color:black; > Music video shot and edited for a friend </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/G2D22p1Ngbg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section><br>
    
    <section>
        <h2> Remote</h2>
        <p style=color:black; > Brief short for Digital Cinema Production class</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nb22pT-nN-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section><br>

<section>
    <h2> The Meeting </h2>
    <p style=color:black; > Class final for Digital Cinema Production at Cinespace Chicago Film Studios</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8ksDNxBpnYA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
    
        
        
     </div>
    
        

    
</div>