<div class="container">
    
    <div> 
        <h2> I am a third year Film major with an Information Technology minor at DePaul University. My major concentration is film editing.</h2><br>

        <h2><a target="_blank" href="https://docs.google.com/document/d/12s3whM6eezfJJ7NW5ToSifzx-BISh693MYi6zsarpm8/edit?usp=sharing" style=color:navy> Work Resume</a> -- Based in Chicago</h2><br></h2>

        <h2> I am proficient in the Adobe Creative Suite and Davinci Resolve with additional experience in Nuke and Blender. </h2><br>

        <h2> Please enjoy the <a href="films"> films</a>, <a  href="vfx">reels</a>, and <a href="itwork">IT Work</a> I have worked on so far.</h2><br>

        <h2> For inquiries, contact me by phone at <b>815-212-3535</b> or by email at <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox/KtbxLthhrNkhrNgTwfrzkdRJQCTbhWcDmL?compose=GTvVlcSHwChfvsRGmjFKJRxdZxgmkBXfzRSTwJXGLmMdJqGhHvbpHBzbpfvgQBCGXQPhSLgKrbGKl"> conormike@gmail.com</a>.</h2><br>


    </div>
    
</div>