<div class="container">
    <div class="row">
            <h2> HTML, CSS, and Javascript </h2>

            <p> Used html, css, and javascript to create a dynamic website template, the same used to build this portoflio website. </p>

            <p><a href="https://github.com/cklump25/nodejs_website_example.git">https://github.com/cklump25/nodejs_website_example.git</a></p>

            <h2> Python </h2>

            <p> Proficient in Python. I have created basic programs to handle simple tasks. </p>

            <p><a href="https://github.com/cklump25/python_project_1.git">https://github.com/cklump25/python_project_1.git</a> <p>
            
    </div>
</div>