<div class="container">
    <div class="row">

            <section>
                <h2> VFX & Animation Reel</h2>
                <p style=color:black; > Compilation of class projects produced using the Adobe Creative Suite</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GHkxY4ST_0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section> 
                
    </div>
</div>